.investment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.investment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.investment .title {
    color: #77dd77;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 3vh;
    text-align: left;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}

.button {
    margin: 3vh;
    cursor: pointer;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.investment:hover .button{
    transform: translateX(-3vh);
    visibility: visible;
}   