.App h1{
  text-align: center;
}

.budget{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.entry{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lists{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

