html, body {
  margin: 0;
  height: 100%;
  background: #000;

}

.budget .budget-form{
  align-items: center;
  text-align: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
  margin-left: 50vh;
}

.budget-input {
  background-color: #000;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #fff;
}

.budget-label {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #fff;
}

input[type="text"] {
  border: none;
  outline: none;
}

.title {
  text-align: center;
  margin-top: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #fff;
}

.entry{
  border-radius: 4vh;
  background: #292929;
  box-sizing: border-box;
  width: 60vh;
  height: 404px;
  overflow: auto;
}

.boxes {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3em 3em;
  align-items: center;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.input {
  width: 40%;
  padding: 1vh 2vh;
  margin: 1vh 0;
  border-radius: 35.5px;
  box-sizing: border-box;
  border: 0.1vh solid #E5E5E5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input:focus {
  border: .1vh solid #000;
}

button {
  padding: 1vh 2vh;
  margin: 1vh 0;
  border-radius: 35.5px;
  outline: none;
}

.remaining {
  position: relative;
  align-items: center;
  text-align: center;
  margin: -2vh auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #fff;
  background: linear-gradient(to right, #FC2222 0%, #FE6060, #6BFA47  100%);
  transition: all 1s;
  border-radius: 35px;
  width: 70%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 20%;
}
