.App h1{
  text-align: center;
}

.budget {
  align-items: center;
  margin-bottom: 3vh;
  margin-top: -3vh;
  text-align: center;
  /* padding-right: 10vh; */
}

.budget .budget-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 6vh;
}

.name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
}

.expense-entry {
  float: left;
  /* border-radius: 3vh; */
  /* border: 1px solid black; */
  background: #f0f0f0;
  box-sizing: border-box;
  margin-left: 15vh;
  width: 75vh;
  height: 404px;
  overflow: auto;
}


.investment-entry {
  float: right;
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  background: #f0f0f0;
  box-sizing: border-box;
  margin-right: 15vh;
  width: 75vh;
  height: 404px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.input {
  width: 30%;
  padding: 1vh 2vh;
  margin: 1vh 0;
  border-radius: 35.5px;
  box-sizing: border-box;
  border: 0.1vh solid rgb(160, 155, 155);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input:focus {
  border: .1vh solid #000;
}

button {
  padding: 1vh 2vh;
  margin: 1vh 0;
  border-radius: 35.5px;
}

.remaining {
  position: fixed;
  left: 50%;
  bottom: -1vh;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
}

